# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Виртуальное окружение
venv/
.env
.env.*

# Данные
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Power BI
*.pbix

# Excel temporary files
~$*.xlsx

# Logs
*.log

# macOS
.DS_Store
